@page "/pages/blazor"

<h4 class="bg-primary text-white text-center p-2">Blazor People</h4>

@* <component type="typeof(Advanced.Blazor.PeopleList)" render-mode="Server"></component> *@

<component type="typeof(Advanced.Blazor.Split)" render-mode="Server"></component>